*{
	margin: 0;
	padding: 0;
}
.wrapper{
		width: 100%;
		margin: 0 auto;
	}
	.img{
		width: 150px;
	    height: 100px;
	    display: block;
	    float: left;
	    position: relative;
	    margin: 5px;
	    box-sizing: content-box;
	    overflow: hidden;
	}
	.search_block{
		width: 100%;
		height: 70px;
		background: #ddd;
		margin: 0 auto;
	}
	.search_form{
		width: 400px;
    	height: 35px;
	}
	.search:focus{
		outline: 0;
	}
	.search{
		margin-left: -5px;
    	height: 39px;
    	background: url(http://trekers.com.ua/templates/Trekers/images/search.png);
    	text-indent: -9999px;
    	width: 37px;
    	border: 1px solid #A9A9A9;
    	overflow: hidden;
	}
	.img_block{
		margin: 4px 14px 0 15px;
	}
.search_block div{
	width: 450px;
    margin: 0 auto;
    padding-top: 15px;
}